.btn {
	transition: all .3s ease-in-out;
	color:#f0f0f0;
	border: 1px solid #267ed4;
	font-weight:bold;
	text-shadow:1px 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5), inset 1px 1px 2px rgba(255,255,255,.5);
	background: linear-gradient(to bottom,  #5fa2c6 1%,#258dc8 100%);
}

.btn1 {
	transition: all .3s ease-in-out;
	color:#f0f0f0;
	border: 1px solid #205ea0;
	font-weight:bold;
	text-shadow:1px 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5), inset 1px 1px 2px rgba(255,255,255,.5);
	background: linear-gradient(to bottom,  #205ea0 0%,#1d5893 100%); 
}

.btn1:hover,
.btn:hover {
	transition: all .3s ease-in-out;
	box-shadow:1px 1px 15px rgba(0, 0, 0, 0.75), inset 1px 1px 2px rgba(255,255,255,.5);
}
