/* https://developer.gnome.org/gtk3/stable/GtkStyleContext.html */

.user_window {
	background: url('../imagenes/fondos/stripes.jpg');
}

.btn {
	transition: all .3s ease-in-out;
	color:#f0f0f0;
	border: 1px solid #267ed4;
	font-weight:bold;
	text-shadow:1px 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5), inset 1px 1px 2px rgba(255,255,255,.5);
	background: linear-gradient(to bottom,  #5fa2c6 1%,#258dc8 100%);
}

.btn1 {
	transition: all .3s ease-in-out;
	color:#f0f0f0;
	border: 1px solid #205ea0;
	font-weight:bold;
	text-shadow:1px 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5), inset 1px 1px 2px rgba(255,255,255,.5);
	background: linear-gradient(to bottom,  #205ea0 0%,#1d5893 100%); 
}

.btn1:hover,
.btn:hover {
	transition: all .3s ease-in-out;
	box-shadow:1px 1px 15px rgba(0, 0, 0, 0.75), inset 1px 1px 2px rgba(255,255,255,.5);
}

.tabs {
	background: rgba(255, 255, 255, 0.5);
}

.tabs:active {
	background: rgba(255, 255, 255, 0.8);
}

.mapas_list:selected,
.user_list:selected,
.partidas_list:selected {
	background-color: rgba(0, 0, 0, 0.2);
	color: #000;
	border: 0;
}

.mapas_list row:hover,
.user_list row:hover,
.partidas_list row:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.scrolled-tree,
.partidas_list,
.mapas_list {
	background: transparent;
}


/* No pude poner estilo sobre la cabecera
.treeview button {
	background-color: #F00;
}
.treeview column-header {
	background: #FFF;
}
.treeview column-header button {
	background: #0FF;
}

.treeview rubberband {
	background-color: #00F;
}*/

.menu_bar,
.textview,
.user_list {
	background: rgba(255, 255, 255, 0.5);
}

.scrolled-text {
	background: transparent;
}

.menu_bar .menuitem{
	background: rgba(255, 255, 255, 0.5);
	/*border: 1px solid #fff;
	border-top: 0;
	border-bottom: 0;*/
	border: 0;
}

.menu_bar .menuitem *:hover{
	background-color: #fff;
	color: #000;
}
